{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
<style>
p {
    margin:0;
    padding:0;
    box-shadow: none;
    border-radius: none;
    margin-left: 15px;
    background-color: #f6f6f6;
}

.add {
    margin: 0 500px 15px 500px;
}

#comment_commentaires{
    width: 653px;
    height: 132px;
}
</style>

<div class="add">
    <h1>Ajouter un commentaire</h1>
    {# <img class="imageMot1" src={{asset("image/win.jpg")}} alt="gagné" width=470 height=300> #}
    <h2>Que pensez-vous de notre application ? ❤</h2>
    <hr>
        <p>Pseudo : {{userEnCours.username}} 🙌</p>
        {{ form_start(commentaireForm)}}
        <br>
            <p>{{ form_label(commentaireForm.commentaires)}}</p>
            <p>{{ form_widget(commentaireForm.commentaires)}}</p>
        <br>
        <hr>
        {{form_end(commentaireForm)}}
</div>
{% endblock %}
