{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
<style>
p {
    margin:0;
    padding:0;
    box-shadow: none;
    border-radius: none;
    margin-left: 15px;
}

.commentaire {
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius:10px;
}

.commentaires {
    margin: 0 500px 15px 500px;
}

a{
    display: flex;
    justify-content: center;
}

</style>

<div class="comment-wrapper">
    <h1>Vos commentaires</h1>
    {# <img class="imageMot1" src={{asset("image/win.jpg")}} alt="gagné" width=470 height=300> #}
    <h2>Que pensez-vous de notre application ? ❤</h2>
    <div class="commentaires">
        {% for commentaire in comment %}
            <div class="commentaire">
                <p> {{commentaire.user.username}} - {{ commentaire.date|date('d-m-Y')}}</p>
                <hr>
                <p> {{ commentaire.commentaires}} </p>
            </div>
        {% endfor %}
    </div>
        <hr>
    <h3>Envie d'ajouter un commentaire ?</h3>
    <a class="tentative"href="{{ path('add_commentaires') }}" title="Ajouter un commentaire">C'est parti!</a>
</div>
{% endblock %}
