<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href={{ asset('assets/logo/logo.png') }}>
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    {% block header %}
        <img src="{{ asset('assets/logo/logo.png') }}" alt="logo">
        <h1>Le Petit Site des Quatre Mots</h1>
    {% endblock %}
</header>

<nav>
    {% block nav %}
        <ul>
            <li><a href={{ url("main_home") }}>Accueil</a></li>
            <li><a href={{ url("word_word4") }}>Mot 4</a></li>
        </ul>
    {% endblock %}
</nav>

{% block body %}{% endblock %}

<footer>
    {% block footer %}
        <p>©PSQM {{ "now" | date("Y") }}</p>
    {% endblock %}
</footer>
</body>
</html>
